@model Alga.Models.Asmuo

@{
    ViewBag.Title = "Details";
}

<h2>Detaliau</h2>

<div>
    <h4>Asmuo</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AsmuoImage)
        </dt>

        <dd>
            <img src="@Url.Action("GetImage", "Asmuos", new { Model.Id })" alt="EmployeeImage" width="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlgaNet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlgaNet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlgaGross)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlgaGross)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VaikuSkaicius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaikuSkaicius)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuginaVaikusVienas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuginaVaikusVienas)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Atgal á sàraðà", "Index")
</p>
