@using System.Activities.Expressions
@using Alga.Controllers
@using Alga.Models
@model IEnumerable<Alga.Models.Asmuo>

@{
    ViewBag.Title = "Sąrašas";
}

<h2>Sąrašas</h2>




@Html.ActionLink("Sukurti naują", "Create")

@*
    @using (Html.BeginForm("Index", "Asmuos", FormMethod.Get))
    {
        <p>
            Paieška: @Html.TextBox("SearchString")
            <input type="submit" value="Filtras" />
        </p>
    }
*@
<div><p></p></div>

<table id="table_id" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Vardas)</th>
            <th>@Html.DisplayNameFor(model => model.Pavarde)</th>
            <th>@Html.DisplayNameFor(model => model.AlgaGross)</th>
            <th>Veiksmai</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pavarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlgaGross)
             </td>
            <td>
                @Html.ActionLink("Redaguoti", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaliau", "Details", new { id = item.Id }) |
                @Html.ActionLink("Trinti", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#table_id").DataTable({
                language: {
                    sEmptyTable: "Lentelėje nėra duomenų",
                    sInfo: "Rodomi įrašai nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                    sInfoEmpty: "Rodomi įrašai nuo 0 iki 0 iš 0",
                    sInfoFiltered: "(atrinkta iš _MAX_ įrašų)",
                    sInfoPostFix: "",
                    sInfoThousands: " ",
                    sLengthMenu: "Rodyti _MENU_ įrašus",
                    sLoadingRecords: "Įkeliama...",
                    sProcessing: "Apdorojama...",
                    sSearch: "Ieškoti:",
                    sThousands: " ",
                    sUrl: "",
                    sZeroRecords: "Įrašų nerasta",

                    oPaginate: {
                        sFirst: "Pirmas",
                        sPrevious: "Ankstesnis",
                        sNext: "Tolimesnis",
                        sLast: "Paskutinis"
                    }
                }
            });
        })
    </script>}
